@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: skyblue;
}

.checked {
    text-decoration: line-through;
    color: rgba(255, 0, 34, 0.836);
    opacity: .5;
}

.tarefas{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove {
    border: none;
    cursor: pointer;
    font-size: 21px;
    background: none;
    opacity: .7;
}

.remove:hover {
    opacity: 1  ;
}

h1 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.addTask {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.addTask input {
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    padding: 20px;
    font-size: 15px;
}

.addTask button {
    width: 20%;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

main {
    display: flex;
    margin: 0 auto;
    background: #fff;
    width: 400px;
    border-radius: 5px;
}

.containerGlobal {
    padding: 20px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.search {
    margin-bottom: 20px;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #ddd;
    font-size: 15px;
}

.removeAll {
    margin: 20px 0 0 0;
    background: rgba(255, 0, 34, 0.836);
    padding: 4px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
}